# Peer Graded Assignment: Week 3:Part-2

In [3]:
#!conda install -c conda-forge geocoder

In [1]:
import pandas as pd
import numpy as np
import geocoder

## Reading the csv file of part-I

In [2]:
df=pd.read_csv('toronto.csv')
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [3]:
df.shape

(103, 3)

In [4]:
df.describe()

       Postcode     Borough                                  Neighbourhood
count       103         103                                            103
unique      103          10                                            103
top         M9P  North York  The Kingsway, Montgomery Road, Old Mill North
freq          1          24                                              1

In [5]:
def latitude_longitude(postal_code):
    coordinates = None
    while(coordinates is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        coordinates = g.latlng
    return coordinates
    
latitude_longitude('M1E')

[43.76581500000003, -79.17519294699997]

In [10]:
postcodes=df['Postcode']
postcodes[0]

'M1B'

In [17]:
#coordinates=[ latitude_longitude(postcode) for postcode in postcodes.tolist() ]

In [16]:
coordinates=[]
for postcode in postcodes.tolist():
    coordinates.append(latitude_longitude(postcode))

In [20]:
df_coordinates=pd.DataFrame(coordinates,columns=['Latitude','Longitude'])
df['Latitude']=df_coordinates['Latitude']
df['Longitude']=df_coordinates['Longitude']
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.811525,-79.195517
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.785665,-79.158725
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765815,-79.175193
3,M1G,Scarborough,Woburn,43.768369,-79.217590
4,M1H,Scarborough,Cedarbrae,43.769688,-79.239440

In [21]:
df.to_csv('toronto_lat_long.csv',index=False)